@import "../../../assets/style/colors.scss";
@import "../../../assets/style/fonts.scss";
@font-face {
  font-family: Poppins-Medium;
  src: url(../../../assets/Fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../../../assets/Fonts/Poppins-Bold.ttf);
}

*:focus {
  outline: none;
  box-shadow: none;
}