<header class="header">
    <div class="logo-wrapper" routerLink="/home">
        <img src="" alt="Logo">
    </div>
    <nav class="nav-bar">
        <ul class="nav-links">
            <li>
                <a href="/contact-us" class="nav-link">Contact Us</a>
            </li>
            <li>
                <a href="/user-account" class="nav-link">Account</a>
            </li>
            <li>
                <a href="#" class="nav-link">Favorite</a>
            </li>
        </ul>
    </nav>
</header>
