* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: none;
  }

body, p, h1, h2, h3 {
    margin: 0;
    font-family: "Poppins", "sans-serif";
}
a {
    text-decoration: none;
}

